/* header del portfolio */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 40px;
  /* Fondo transparente con color tenue a azul */
  background-color: rgba(0, 0, 0, 0.5); 
  /* Efecto de filtro en el fondo al pasar sobre el */
  backdrop-filter: blur(5px); 
  /* z-index para asegurar que el encabezado este sobre el texto */
  z-index: 10;
  border: none;
}

/* hipervinculos del nav */
.header a {
  margin-left: 20px;
  text-decoration: none;
  color: rgb(231, 229, 248);
  font-weight: bold;
  position: relative;
  z-index: 20;
}

/* "animacion" al hacer hover */
.header a:hover {
  text-decoration: underline;
}
