/* estilos de las habilidades */
#skills{
    display: grid;
    place-content: center;
    text-align: center;
    margin: auto;
    background-image: url('../img/font.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

#skills h1{
    color: rgb(1, 4, 58);
    margin-bottom: 20px;
}

#habilidades{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.skill img{
    height: 80px;
}