/* estilos de las habilidades */
#skills{
    display: grid;
    place-content: center;
    text-align: center;
    margin: auto;
    padding: 20px;
}

#skills h1{
    color: rgb(1, 4, 58);
    margin-bottom: 20px;
}

#habilidades{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.skill img{
    height: 80px;
}